@import "../breakpoints";
.two-column-layout {
    display: flex;
    background: chocolate;
    min-height: 100vh;
    flex-direction: column;
    .col-1 {
        background: crimson;
        width: 100%;
        min-height: 100vh;
    }
    .col-2 {
        width: 100%;
        background: cyan;
        min-height: 100vh;
    }
    @media screen and (min-width: $bp-tablets) {
        flex-direction: row;
    }
}
