* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
}
h2 {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
}
.box-1 {
  background: orange;
}
.box-2 {
  background: coral;
}
.box-3 {
  background: cornflowerblue;
}
